@model kanbanticket

<div class="list-item-card" data-ticketid="@Model.Id">
    <div class="list-item-card-details">
        <a href="#" class="list-item-card-title">@Model.Name</a>
    </div>
</div>
