@model List<aspnetuser>

@{
    var role = ViewBag.Role != null ? ViewBag.Role : "";
}

<select class="selectpicker" name="@role" data-live-search="true" multiple>
    @foreach (var user in Model)
    {
        <option value="@user.Id">@user.FirstName @user.LastName</option>
    }
</select>

<script>
    $(function () {
        $('.selectpicker').selectpicker({
            size: 5
        });

    });
</script>
