p {
  font-size: 14px;
}
p.small {
  font-size: 12px;
}
label {
  font-weight: 400;
}
.btn-primary {
  width: 100%;
  background-color: #3ca082;
  border-color: #358d73;
}
.btn-primary:hover {
  background-color: #358d73;
  border-color: #358d73;
}
#btn-back, #btn-calculate {
  width: 100%;
}
.bg-primary {
  background-color: #3ca082;
  border-color: #358d73; 
  color: white;
}
.bg-warning {
    background-color: #dc9119;
    border-color: #c58216; 
    color: white;
}
.form-control, .input-group-addon {
  border: 1px solid #3ca082;
  color: #3ca082;
}
.input-group-addon i {
  color: #3ca082;
}
#mainNav {
    background-color: white;
}
#mainNav a {
    color: #333;
}
.navbar-brand img {
    vertical-align: middle;
}
.navbar-brand > a > img {
    height: 40px;
    width: auto;
}
.navbar-custom .navbar-toggle {
  color: #222;
  text-transform: uppercase;
  font-size: 18px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: white;
  color: #18BC9C;
  border-color: white;
}
.my-dropdown-search {
    min-width: 320px;
    padding: 25px 5px;
    text-align: center;
    border: none;
}
.nav > li > a:hover, 
.nav > li > a:focus {
    color: #00ad8c;
    text-decoration: none;
    background-color: #ffffff;
}
.navbar .my-dropdown-big > li > a,
.navbar .my-dropdown-big > li > a:focus {
  padding: 20px 15px;
  font-weight: 700;
}
.navbar .my-dropdown-big > li > a {
  border-top: 1px solid #ddd;
}
.me-me .navbar .my-dropdown-big > li > a {
  padding-left: 56px;
  position: relative;
}
.navbar .my-dropdown-big > li > a[data-toggle="dropdown"]:after {
  display:inline-block;
  float:right;
  font-family: "FontAwesome";
  content: "\f078";
}
.navbar .my-dropdown-big > li > a[data-toggle="dropdown"].dropped:after {
  display:inline-block;
  float:right;
  font-family: "FontAwesome";
  content: "\f077";
}
.navbar .my-dropdown-big > li > a > i.fa {
  font-size: 18px;
  width: 36px;
  text-align:center;
}
.me-me .navbar .my-dropdown-big > li > a > i.fa {
  position: absolute;
  left: 20px;
}
.savapok .navbar .my-dropdown-big > li > a > i.fa {
  color: #00ad8c;
}
.my-dropdown-big .divider { 
  margin: 0 40px 0 45px; 
}
header.headerone {
  text-align: center;
  background: #f2f2f2;
  color: #222;
}
/*FLOATING DIV PRICE*/
#insu-sum {
  position: absolute;
  top: 0;
  z-index: 1100;
}
section.gray {
  background: #e2e2e2;
  color: #222;
}
footer {
  color: #666;
  font-size: 14px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #eee;
  border-top: 1px solid #00ad8c;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #e8e8e8;
}

@media (max-width: 1090px) and (min-width: 768px) {
    #mainNav .nav-lbl {
        display: none;
    }
}

@media (min-width: 768px) {
    .nav > li > a.nav-a-border {
        border: solid 1px red;
        padding: 10px;
        border: 1px solid #eaeaea;
        box-shadow: 0 0 2px rgba(230,230,230,.85);
    }
    .navbar-brand {
        padding: 5px 15px;
    }
    
}
