<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <
  -->
  <appSettings>
    <add key="recaptchaPublicKey" value="6LcWwycTAAAAABwRRrf05-EC_fIsS54a-IufeqrA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="recaptchaPrivateKey" value="6LcWwycTAAAAAISReQ6lwW_223HA3d5ud-WROnhw" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <!--<system.diagnostics>
    <sources>
      <source name="SignalR.SqlMessageBus">
        <listeners>
          <add name="SignalR-Bus" />
        </listeners>
      </source>
      <source name="SignalR.ServiceBusMessageBus">
        <listeners>
          <add name="SignalR-Bus" />
        </listeners>
      </source>
      <source name="SignalR.RedisMessageBus">
        <listeners>
          <add name="SignalR-Bus" />
        </listeners>
      </source>
      <source name="SignalR.ScaleoutMessageBus">
        <listeners>
          <add name="SignalR-Bus" />
        </listeners>
      </source>
      <source name="SignalR.Transports.WebSocketTransport">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.Transports.ServerSentEventsTransport">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.Transports.ForeverFrameTransport">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.Transports.LongPollingTransport">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.Transports.TransportHeartBeat">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.ReflectedHubDescriptorProvider">
        <listeners>
          <add name="SignalR-Init" />
        </listeners>
      </source>
    </sources>
    --><!-- Sets the trace verbosity level --><!--
    <switches>
      <add name="SignalRSwitch" value="Verbose" />
    </switches>
    --><!-- Specifies the trace writer for output --><!--
    <sharedListeners>
      --><!-- Listener for transport events --><!--
      <add name="SignalR-Transports" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\logs\transports.log" />
      --><!-- Listener for scaleout provider events --><!--
      <add name="SignalR-Bus" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\logs\bus.log" />
      --><!-- Listener for hub discovery events --><!--
      <add name="SignalR-Init" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\logs\init.log" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>-->
</configuration>