<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Insured Travel</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.css" /> 
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.1.0.js"></script>
    @*<script src="https://code.jquery.com/jquery-1.12.3.js"></script>*@
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
    @*<script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>*@
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a href="http://insuredtraveling.com/Home" class = "navbar-brand">Insured Traveling</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" id="welcome">Welcome</a></li>
                    <li><a href="http://insuredtraveling.com/api/account/deletetoken" id="logOut" onclick="func()">Logout</a></li>
                    <li><a href="http://insuredtraveling.com/Login" id="login">Login</a></li>
                    <li><a href="http://insuredtraveling.com/SignUp" id="signup">Sign up</a></li>
                </ul>
            </div>
        </div>
    </div>
    @if (System.Web.HttpContext.Current.User != null)
    {
        <input type="hidden" value="@System.Web.HttpContext.Current.User.Identity.Name" id="userName"/>
    }


    <div class="container body-content" style="margin-bottom: 50px;">
        @RenderBody()

    </div>
    <br />
    <footer class="container-fluid" style="position:fixed; bottom:0; width:100%; background-color:#149c82;">
        <p class="container" style="color:#ffffff">&copy; @DateTime.Now.Year - Insured Traveling</p>
    </footer>
    <script src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            localStorage.setItem("username", $("#userName").val());
            
            if (localStorage.getItem("username") != "undefined") {
                $("#welcome").text("Welcome " + localStorage.getItem("username"));
                $("#signup").attr("class", "hidden");
                $("#login").attr("class", "hidden");
                $("#welcome").removeAttr("class");
                $("#logOut").removeAttr("class");
            } else {
                $("#welcome").attr("class", "hidden");
                $("#logOut").attr("class", "hidden");
            }

        });

        function func() {
            localStorage.clear();
        }

    </script>
</body>
</html>