@model InsuredTraveling.ViewModels.PolicyFormViewModel
@using InsuredTraveling.FormBuilder
@{
    ViewBag.Title = "PolicyForm";
    Layout = "~/Views/Shared/_LayoutLimitless.cshtml";
}

<h2>PolicyForm</h2>
@ExcelReader.ReadExcel(@Model)

