@using System.Web.Optimization;
@using System.Configuration;

@{
    ViewBag.Title = "Error Log";
    Layout = "~/Views/Shared/_LayoutLimitless.cshtml";
}

<h2>@InsuredTraveling.Resource.ErrorLog_Title</h2>

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/jqueryuicss")