@model InsuredTraveling.Models.Policy
@using InsuredTraveling.Filters;
@using System.Web.Optimization;
@using System.Configuration;

<div class="col-md-12 form-horizontal form-group">
    <div class="col-md-6 text-left">
        <input style="width: 25px;" type="checkbox" class="policy-component-input" name="isProfessionalDriver" id="isProfessionalDriver" />
        <span style="font-weight: bold" class="checkbox-label">
            професионални возачи
        </span>
    </div>
    <div class="col-md-6">
        <select class="selectpicker policy-component-input" id="professionalDriverInureds" name="professionalDriverInureds" title="Одбери" multiple>
            <option value="1">Лице 1</option>
        </select>
    </div>
</div>
<div class="col-md-12 form-horizontal form-group">
    <div class="col-md-6 text-left">
        <input style="width: 25px;" type="checkbox" class="policy-component-input" name="isAbroadStudent" id="isAbroadStudent" />
        <span style="font-weight: bold" class="checkbox-label">
            студенти во странство
        </span>
    </div>
    <div class="col-md-6">
        <select class="selectpicker policy-component-input" id="abroadStudentsInsureds" name="abroadStudentsInsureds" title="Одбери" multiple>
            <option value="1">Лице 1</option>
        </select>
    </div>
</div>
<div class="col-md-12"><hr></div>
<!-- ДОПОЛНИТЕЛНИ ПРОДУКТИ -->
<div class="col-md-12 form-group">
    <div class="col-md-12 text-left">
        <strong>Дополнителни продукти</strong>
    </div>
</div>
<!-- НЕЗГОДИ -->
<div class="col-md-12 form-horizontal form-group">
    <div class="col-md-6 text-left">
        <input style="width: 25px;" class="policy-component-input" type="checkbox" name="extraNezgoda" id="extraNezgoda" />
        <span style="font-weight: bold" class="checkbox-label">
            незгода
        </span>
    </div>
    <div class="col-md-6">
        <p class="col-md-12 text-right">Важи за сите лица</p>
    </div>
</div>
<!-- ДОМАШНА АСИСТЕНЦИЈА -->
<div class="col-md-12 form-horizontal form-group">
    <div class="col-md-6 text-left">
        <input style="width: 25px;" class="policy-component-input" type="checkbox" name="extraDomasnaAsistencija" id="extraDomasnaAsistencija" />
        <span style="font-weight: bold" class="checkbox-label">
            домашна асистенција
        </span>
    </div>
    <div class="col-md-6">
        <select class="selectpicker policy-component-input" id="domasnaAsistencijaInsureds" name="domasnaAsistencijaInsureds" title="Одбери" multiple>
            <option value="1">Лице 1</option>
        </select>
    </div>
    <div hidden class="col-sm-12" id="domasnaAsistencijaAdresses">
    </div>
</div>
<!-- АВТО АСИСТЕНЦИЈА -->
<div class="col-md-12 form-horizontal form-group">
    <div class="col-md-6 text-left">
        <input style="width: 25px;" class="policy-component-input" type="checkbox" name="extraAvtoAsistencija" id="extraAvtoAsistencija" />
        <span style="font-weight: bold" class="checkbox-label">
            авто асистенција
        </span>
    </div>
    <div class="col-md-6">
        <select class="selectpicker policy-component-input" id="avtoasistencijaInsureds" name="avtoasistencijaInsureds" title="Одбери" multiple>
            <option value="1">Лице 1</option>
        </select>
    </div>
</div>
<div hidden id="avtoAsistencijaContainer">
    <div class="col-md-12 form-group">
        <div class="col-md-4 text-left">
            <label for="brend-vozilo" class="text-left">бренд на возило</label>
            <input type="text" id="brend-vozilo" class="form-control input-sm" name="brend-vozilo">
        </div>
        <div class="col-md-3">
            <label for="model" class="text-left">модел</label>
            <input type="text" id="model" class="form-control input-sm" name="model">
        </div>
        <div class="col-md-5">
            <label for="reg-tab" class="text-left">регистарски таблички</label>
            <input type="text" id="reg-tab" class="form-control input-sm" name="reg-tab">
        </div>
    </div>
</div>
<hr />
<div class="col-md-12 form-horizontal form-group">
    <div class="col-md-12">
        <label>Франшиза</label>
        @Html.DropDownListFor(model => model.Retaining_RiskID, (List<SelectListItem>)ViewBag.Franchise, new { @class = "form-control input-sm policy-component-input" })
        @Html.ValidationMessageFor(model => model.Retaining_RiskID, "", new { @class = "text-danger" })
    </div>
</div>
<script src="~/Scripts/bootstrap-select.js"></script>
<script>
    $("#extraAvtoAsistencija").change(function () {
        if ($(this).is(":checked")) {
            $("#avtoAsistencijaContainer").show();
        } else {
            $("#avtoAsistencijaContainer").hide();
        }
    });

    $("#extraDomasnaAsistencija").change(function () {
        if ($(this).is(":checked")) {
            $("#domasnaAsistencijaAdresses").show();
        } else {
            $("#domasnaAsistencijaAdresses").hide();
        }
    });

    $('.selectpicker').selectpicker({
        size: 5
    });

    $("#professionalDriverInureds").change(function () {
        $('#isProfessionalDriver').prop('checked', true);
    });

    $("#abroadStudentsInsureds").change(function () {
        $('#isAbroadStudent').prop('checked', true);
    });

    $("#domasnaAsistencijaInsureds").change(function () {
        var result = $("#domasnaAsistencijaInsureds").selectpicker("val").toString();
        var array = result.split(",");
        $("#domasnaAsistencijaAdresses").html("<br/>");
        for (var i = 0; i < array.length; i++) {
            var html = "<div class='col-md-4'><label>" + "Адреса за осигуреник " + array[i] +
                "</label><input type='text' class='form-control'/></div>";
            $("#domasnaAsistencijaAdresses").append(html);
        }

        $('#extraDomasnaAsistencija').prop('checked', true);
        $("#domasnaAsistencijaAdresses").show();
    });

    $("#avtoasistencijaInsureds").change(function () {
        $('#extraAvtoAsistencija').prop('checked', true);
        $("#avtoAsistencijaContainer").show();
    });
</script>