
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron text-center" style="margin-top:40px;" >
    <h3>Something went wrong</h3>
    <p><label style="font-size:20px;" class="btn btn-danger btn-sm" href="#" role="button">An error occured while processing the request, the site may be down, try again later   <span class="glyphicon glyphicon-alert" aria-hidden="true"></span></label></p>
    <br />
    <br />
    <label class="small">VISIT THE <a href="/">HOMEPAGE</a> OR <a href="#">CONTACT US</a> ABOUT THE PROBLEM</label>
</div>

