
@{
    ViewBag.Title = "InternalServerError";
}

<div class="jumbotron text-center" style="margin-top:40px;">
    <h1>ERROR 500 - Internal Server Error</h1>
    <br />
    <br />
    <label class="small">VISIT THE <a href="/">HOMEPAGE</a> OR <a href="#">CONTACT US</a> ABOUT THE PROBLEM</label>
</div>
