
@{
    ViewBag.Title = "MethodNotAllowed";
    Layout = "~/Views/Shared/_LayoutLimitless.cshtml";
}

<div class="jumbotron text-center" style="margin-top:40px;">
    <h1>ERROR 405 - Method Not Allowed</h1>
    <br />
    <br />
    <label class="small">VISIT THE <a href="/Home">HOMEPAGE</a> OR <a href="#">CONTACT US</a> ABOUT THE PROBLEM</label>
</div>

