
@{
    ViewBag.Title = "NotFoundPage";
}


<div class="jumbotron text-center" style="margin-top:40px;">
    <h1>ERROR 404 - Page not found </h1>
    <br />
    <br />
    <h3>Woops. Looks like this page doesn't exist.</h3>
    <p><label style="font-size:20px;" class="btn btn-danger btn-sm" href="#" role="button">The link you clicked may be broken or the page may have beeen removed <span class="glyphicon glyphicon-alert" aria-hidden="true"></span></label></p>
    <label class="small">VISIT THE <a href="/Home">HOMEPAGE</a> OR <a href="#">CONTACT US</a> ABOUT THE PROBLEM</label>
</div>


